{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
<div class="cover cover-author{{#if image}} has-image{{/if}}"{{#if cover}} style="background-image: url('{{cover}}')"{{else}}{{#if @blog.cover}} style="background-image: url('{{@blog.cover}}')"{{/if}}{{/if}}>
	<div class="cover-text">
		<h1 class="mdl-typography--display-4">{{name}}</h1>
        {{#if bio}}
            <p class="mdl-typography--headline">{{bio}}</p>
        {{/if}}
        <p class="mdl-typography--headline">
            {{#if location}}<a href="https://www.google.de/maps/search/{{encode location}}/" target="_blank" title="{{location}}"><i class="material-icons">place</i> {{location}}</a> ⋯ {{/if}}
            {{#if website}}<a href="{{website}}" target="_blank" title="{{name}}"><i class="material-icons">link</i> {{website}}</a> ⋯ {{/if}}
			<i class="material-icons">poll</i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
        </p>
	</div>
    {{#if image}}
        <img class="cover-image mdl-shadow--16dp" src="{{image}}" alt="{{name}}">
    {{/if}}
</div>
{{/author}}

{{! The tag below includes the post loop - partials/loop.hbs }}
{{> loop}}
